
ADDIS_ReRun/Updated_PC_Selection/List.Match.significant.trios.AdiposeSubcutaneous.RData
ADDIS_ReRun/Updated_PC_Selection/List.Match.significant.trios.WholeBlood.RData
ADDIS_ReRun/Updated_PC_Selection/stdout.out
ADDIS_ReRun/Updated_PC_Selection/Updated.PC.info.WholeBlood.csv
Cancer_Selection/Boxplots/bp1.pdf
Cancer_Selection/Boxplots/bp10.pdf
Cancer_Selection/Boxplots/bp100.pdf
Cancer_Selection/Boxplots/bp11.pdf
Cancer_Selection/Boxplots/bp12.pdf
Cancer_Selection/Boxplots/bp13.pdf
Cancer_Selection/Boxplots/bp14.pdf
Cancer_Selection/Boxplots/bp15.pdf
Cancer_Selection/Boxplots/bp16.pdf
Cancer_Selection/Boxplots/bp17.pdf
Cancer_Selection/Boxplots/bp18.pdf
Cancer_Selection/Boxplots/bp19.pdf
Cancer_Selection/Boxplots/bp2.pdf
Cancer_Selection/Boxplots/bp20.pdf
Cancer_Selection/Boxplots/bp21.pdf
Cancer_Selection/Boxplots/bp22.pdf
Cancer_Selection/Boxplots/bp23.pdf
Cancer_Selection/Boxplots/bp24.pdf
Cancer_Selection/Boxplots/bp25.pdf
Cancer_Selection/Boxplots/bp26.pdf
Cancer_Selection/Boxplots/bp27.pdf
Cancer_Selection/Boxplots/bp28.pdf
Cancer_Selection/Boxplots/bp29.pdf
Cancer_Selection/Boxplots/bp3.pdf
Cancer_Selection/Boxplots/bp30.pdf
Cancer_Selection/Boxplots/bp31.pdf
Cancer_Selection/Boxplots/bp32.pdf
Cancer_Selection/Boxplots/bp33.pdf
Cancer_Selection/Boxplots/bp34.pdf
Cancer_Selection/Boxplots/bp35.pdf
Cancer_Selection/Boxplots/bp36.pdf
Cancer_Selection/Boxplots/bp37.pdf
Cancer_Selection/Boxplots/bp38.pdf
Cancer_Selection/Boxplots/bp39.pdf
Cancer_Selection/Boxplots/bp4.pdf
Cancer_Selection/Boxplots/bp40.pdf
Cancer_Selection/Boxplots/bp41.pdf
Cancer_Selection/Boxplots/bp42.pdf
Cancer_Selection/Boxplots/bp43.pdf
Cancer_Selection/Boxplots/bp44.pdf
Cancer_Selection/Boxplots/bp45.pdf
Cancer_Selection/Boxplots/bp46.pdf
Cancer_Selection/Boxplots/bp47.pdf
Cancer_Selection/Boxplots/bp48.pdf
Cancer_Selection/Boxplots/bp49.pdf
Cancer_Selection/Boxplots/bp5.pdf
Cancer_Selection/Boxplots/bp50.pdf
Cancer_Selection/Boxplots/bp51.pdf
Cancer_Selection/Boxplots/bp52.pdf
Cancer_Selection/Boxplots/bp53.pdf
Cancer_Selection/Boxplots/bp54.pdf
Cancer_Selection/Boxplots/bp55.pdf
Cancer_Selection/Boxplots/bp56.pdf
Cancer_Selection/Boxplots/bp57.pdf
Cancer_Selection/Boxplots/bp58.pdf
Cancer_Selection/Boxplots/bp59.pdf
Cancer_Selection/Boxplots/bp6.pdf
Cancer_Selection/Boxplots/bp60.pdf
Cancer_Selection/Boxplots/bp61.pdf
Cancer_Selection/Boxplots/bp62.pdf
Cancer_Selection/Boxplots/bp63.pdf
Cancer_Selection/Boxplots/bp64.pdf
Cancer_Selection/Boxplots/bp65.pdf
Cancer_Selection/Boxplots/bp66.pdf
Cancer_Selection/Boxplots/bp67.pdf
Cancer_Selection/Boxplots/bp68.pdf
Cancer_Selection/Boxplots/bp69.pdf
Cancer_Selection/Boxplots/bp7.pdf
Cancer_Selection/Boxplots/bp70.pdf
Cancer_Selection/Boxplots/bp71.pdf
Cancer_Selection/Boxplots/bp72.pdf
Cancer_Selection/Boxplots/bp73.pdf
Cancer_Selection/Boxplots/bp74.pdf
Cancer_Selection/Boxplots/bp75.pdf
Cancer_Selection/Boxplots/bp76.pdf
Cancer_Selection/Boxplots/bp77.pdf
Cancer_Selection/Boxplots/bp78.pdf
Cancer_Selection/Boxplots/bp79.pdf
Cancer_Selection/Boxplots/bp8.pdf
Cancer_Selection/Boxplots/bp80.pdf
Cancer_Selection/Boxplots/bp81.pdf
Cancer_Selection/Boxplots/bp82.pdf
Cancer_Selection/Boxplots/bp83.pdf
Cancer_Selection/Boxplots/bp84.pdf
Cancer_Selection/Boxplots/bp85.pdf
Cancer_Selection/Boxplots/bp86.pdf
Cancer_Selection/Boxplots/bp87.pdf
Cancer_Selection/Boxplots/bp88.pdf
Cancer_Selection/Boxplots/bp89.pdf
Cancer_Selection/Boxplots/bp9.pdf
Cancer_Selection/Boxplots/bp90.pdf
Cancer_Selection/Boxplots/bp91.pdf
Cancer_Selection/Boxplots/bp92.pdf
Cancer_Selection/Boxplots/bp93.pdf
Cancer_Selection/Boxplots/bp94.pdf
Cancer_Selection/Boxplots/bp95.pdf
Cancer_Selection/Boxplots/bp96.pdf
Cancer_Selection/Boxplots/bp97.pdf
Cancer_Selection/Boxplots/bp98.pdf
Cancer_Selection/Boxplots/bp99.pdf
Cancer_Selection/Contrast_genes_PC1.csv
Cancer_Selection/genes_shortlist_high_sig.csv
Cancer_Selection/genes_shortlist_sig_tissue_scores.csv
Cancer_Selection/GSE101961_normal_breast/GPL13534_450K_Manifest_header_Descriptions.xlsx
Cancer_Selection/GSE101961_normal_breast/GSE101961_normal_breast_plot.pdf
Cancer_Selection/GSE116754_METH_stem/GSE116754/GSE116754_STEM_plot.pdf
Cancer_Selection/GSE116754_METH_stem/GSE59091/GSE59091_plot.pdf
Cancer_Selection/GSE75067_BC_with_annotations/GPL13534_450K_Manifest_header_Descriptions.xlsx
Cancer_Selection/GSE75067_BC_with_annotations/GSE75067_BC_plot.pdf
Cancer_Selection/in_depth_analysis.zip
Cancer_Selection/in_depth_analysis/BCL8_GAGE1.pdf
Cancer_Selection/in_depth_analysis/BRCA1_BRCA2.pdf
Cancer_Selection/in_depth_analysis/LDA_LD1_2.pdf
Cancer_Selection/in_depth_analysis/loading.gene.content.pdf
Cancer_Selection/in_depth_analysis/logpkey.pdf
Cancer_Selection/in_depth_analysis/MIR193B_MIR367.pdf
Cancer_Selection/in_depth_analysis/PCA.pdf
Cancer_Selection/in_depth_analysis/PCA_PC1_2.pdf
Cancer_Selection/in_depth_analysis/PCA_PC2_3.pdf
Cancer_Selection/in_depth_analysis/screePCA.pdf
Cancer_Selection/run_alignment.slurm
Cancer_Selection/Treeplots/nj.me.ctree.corr.pdf
Cancer_Selection/Treeplots/nj.me.ctree.euclidean.pdf
Cancer_Selection/Treeplots/nj.me.ctree.maximum.pdf
Cancer_Selection/Treeplots/nj.me.ctree.minkowski.pdf
Cancer_Selection/Treeplots/nj.me.ctree.nostem.corr.pdf
Cancer_Selection/Treeplots/PCA.pdf
Cancer_Selection/Treeplots/screePCA.pdf
Cancer_Selection/Treeplots/test.phy.pdf
Cancer_Selection/Treeplots/testbayesmcmc.pdf
GMAC analysis/.Rhistory
GMAC analysis/additional_plots/GMAC.NO.ADDIS.AdiposeSubcutaneous.png
GMAC analysis/additional_plots/GMAC.NO.ADDIS.ArteryTibial.png
GMAC analysis/additional_plots/GMAC.NO.ADDIS.MuscleSkeletal.png
GMAC analysis/additional_plots/GMAC.NO.ADDIS.SkinSunExposed.png
GMAC analysis/additional_plots/GMAC.NO.ADDIS.WholeBlood.png
GMAC analysis/additional_plots/scree.test.WholeBlood.png
GMAC analysis/additional_plots/WholeBlood.ev.scree.png
GMAC analysis/extract_gmac_trios_and_save_to_RData.R
GMAC analysis/GMAC_Simulations_README.txt
GMAC analysis/master_tables/simulations_AdiposeSubcutaneous.txt
GMAC analysis/master_tables/trio1922ArTplot.jpeg
GMAC analysis/master_tables/trio1992ArTplot.jpeg
GMAC analysis/master_tables/trio9ASplot.jpeg
GMAC analysis/master_tables/TRIOS_imbalanced_genotypes_WB_Updated_12_10_2021.csv
GMAC analysis/meeting_notes/.Rhistory
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM02058.png
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM02147.png
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM02374.png
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM03064.png
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM03921.png
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM03952.png
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM04103.png
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM04135.png
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM046.png
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM0979.png
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM3125.png
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM3133.png
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM3135.png
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM3151.png
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM3163.png
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM317.png
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM3175.png
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM3197.png
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM3210.png
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM3235.png
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM3236.png
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM3254.png
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM3342.png
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM3343.png
GMAC analysis/Reg_assump_plots/GMAC/GMACcisM3356.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM02058.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM02147.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM02374.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM03064.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM03921.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM03952.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM04103.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM04135.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM046.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM0979.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM3125.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM3133.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM3135.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM3151.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM3163.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM317.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM3175.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM3197.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM3210.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM3235.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM3236.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM3254.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM3342.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM3343.png
GMAC analysis/Reg_assump_plots/MRPC/ADDIScisM3356.png
GMAC analysis/Unstable_trios_plots/plot_WholeBlood_1131_Both.png
GMAC analysis/Unstable_trios_plots/plot_WholeBlood_1375_Both.png
GMAC analysis/Unstable_trios_plots/plot_WholeBlood_2117_Both.png
GMAC analysis/Unstable_trios_plots/plot_WholeBlood_30_Both.png
GMAC analysis/Unstable_trios_plots/plot_WholeBlood_356_Both.png
HiC/lymphoblastoid_cells/rplot_1126.png
HiC/lymphoblastoid_cells/rplot_1293.png
HiC/lymphoblastoid_cells/rplot_1314.png
HiC/lymphoblastoid_cells/rplot_1328.png
HiC/lymphoblastoid_cells/rplot_1597.png
HiC/lymphoblastoid_cells/rplot_1608.png
HiC/lymphoblastoid_cells/rplot_1665.png
HiC/lymphoblastoid_cells/rplot_1800.png
HiC/lymphoblastoid_cells/rplot_1886.png
HiC/lymphoblastoid_cells/rplot_1890.png
HiC/lymphoblastoid_cells/rplot_1936.png
HiC/lymphoblastoid_cells/rplot_2041.png
HiC/lymphoblastoid_cells/rplot_2120.png
HiC/lymphoblastoid_cells/rplot_2166.png
HiC/lymphoblastoid_cells/rplot_2193.png
HiC/lymphoblastoid_cells/rplot_2285.png
HiC/lymphoblastoid_cells/rplot_2296.png
HiC/lymphoblastoid_cells/rplot_2349.png
HiC/lymphoblastoid_cells/rplot_2357.png
HiC/lymphoblastoid_cells/rplot_2562.png
HiC/lymphoblastoid_cells/rplot_2643.png
HiC/lymphoblastoid_cells/rplot_2764.png
HiC/lymphoblastoid_cells/rplot_2771.png
HiC/lymphoblastoid_cells/rplot_2902.png
HiC/lymphoblastoid_cells/rplot_2963.png
HiC/lymphoblastoid_cells/rplot_2977.png
HiC/lymphoblastoid_cells/rplot_3053.png
HiC/lymphoblastoid_cells/rplot_3124.png
HiC/lymphoblastoid_cells/rplot_755.png
Manuscript/Biomart_export_with_gene_descriptions.txt
Manuscript/F3_Breakdown of Inferred Trio Types (ADDIS - PR_lncRNA_only).pdf
Manuscript/F3_Breakdown of Inferred Trio Types (LOND - PR_lncRNA_only).pdf
Manuscript/GMAC_MRPC_comparison_final.csv
Manuscript/GMAC_MRPC_comparison_final2.csv
Manuscript/SNP_effect_example_trio.pdf
Manuscript/SNP_effect_example_trio2.pdf
Methyl/Correlation_Calculation_Data/E_chr21_correlations.txt
Methyl/Correlation_Calculation_Data/M_chr21_correlations.txt
Methyl/Correlation_Calculation_Data/QIMR_GeneExpression_Correlations_v5a.zip
Methyl/Correlation_Code_New/Correlation_CalculationV5_Scott/Example_Output/E_chr1_correlations.txt
Methyl/Correlation_Code_New/Correlation_CalculationV5_Scott/Example_Output/M_chr1_correlations.txt
Methyl/Correlation_Code_New/Correlation_CalculationV5_Scott/Input/All.Mprobes.Metadata.Rdata
Methyl/Correlation_Code_New/Correlation_CalculationV5_Scott/Input/Example_Genotype_data.txt
Methyl/Correlation_Code_New/Correlation_CalculationV5_Scott/Input/Example_Genotype_data_small.txt
Methyl/Correlation_Code_New/Correlation_CalculationV5_Scott/Input/Example_Genotype_Metadata.txt
Methyl/Correlation_Code_New/Correlation_CalculationV5_Scott/Input/Example_Genotype_Metadata_small.txt
Methyl/Correlation_Code_New/Correlation_CalculationV5_Scott/Input/Express.BM.aligned.Ilmn.aligned.MetaData.Rdata
Methyl/Correlation_Code_New/Correlation_CalculationV5_Scott/Input/Express.BM.aligned.Ilmn.aligned.Rdata
Methyl/Correlation_Code_New/Correlation_CalculationV5_Scott/Input/MethylData.RegressResids.asMatrix.Rdata
Methyl/GPL13534_HumanMethylation450_15017482_v.1.1.csv
Methyl/GSE53195_bsgs_non_norm.txt.gz
Methyl/GSE53195_RAW.tar
Methyl/GSE53195_series_matrix.txt.gz
Methyl/mart_export_GB38.txt
